<header id="site-header">
<div class="container">
<div class="row">
<a class="brand" href="{{ site.baseurl }}/">
<svg version="1.0" id="thirdkraft_logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 74.2" enable-background="new 0 0 100 74.2" xml:space="preserve"><path fill="#000000" d="M100,2.1H76.6L58.2,22c-1.2-3.9-3.2-7.6-5.9-10.8C46.3,4,37.4,0,27.3,0H13.1l-2.9,16.3h17 c5.2,0,9.7,1.9,12.6,5.4c2.1,2.5,3.3,5.6,3.5,9h-35l-2.7,13h34.4C35.4,52,26.2,57.9,17,57.9H2.9L0,74.2h17c14.8,0,28.7-8.5,36.4-21 l11.8,20.8h20.8L65.6,39L100,2.1z"/></svg>
<span>Thirdkraft</span>
</a>
<nav id="site-nav">
<ul class="menu">
{% for nav_page in site.pages %}
{% if nav_page.title %}
<li><a href="{{ nav_page.url | prepend: site.baseurl }}">{{ nav_page.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
</nav>
</div>
</div>
</header>
