@import url('//fonts.googleapis.com/css?family=Questrial:400,700');

// Typography
$base-font-family: 'Questrial', sans-serif;
$heading-font-family: $base-font-family;



// Colors
$primary-color: tomato;
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $primary-color;

 $mobile: new-breakpoint(max-width 480px);
 $min-desktop: new-breakpoint(min-width 480px);