*[data-element='animated'] {
    visibility: hidden;
    opacity: 0;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    *[data-element='animated'] {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-device-width: 640px) {
    *[data-element='animated'] {
        visibility: visible;
        opacity: 1;
    }
}

.animated {
    visibility: visible;
    opacity: 1;
}

html, body {
    font-family: $base-font-family;
    margin: 0;
    padding: 0;
}


h2, h3, h4 {
    span {
        color: $primary-color;
    }
}

h2 {
    font-size:  4.236em;
}
h3 {
    font-size: 2.618em;
}
h4 {
    font-size: 1.618em;   
}
p {
    font-weight: 300;
    margin-bottom: 1.5em;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
    }
}


.overlay {
    position: relative;
    &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: '';
        background-color: rgba(0, 0, 0, .75);
    }
}

.cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    @include media($mobile) {
        background-position: 100% 50%;
    }
    @extend .overlay;
    > div {
        position: relative;
        z-index: 1;
    }
}

@mixin arrow-bottom($color) {
    position: relative;
    &:after {
        position: absolute;
        z-index: -1;
        z-index: 10;
        top: 98.1%;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -40px;
        content: '';
        border-top: solid 40px $color;
        border-right: solid 40px transparent;
        border-left: solid 40px transparent;
    }
}

.site-header {
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    padding-top: 2em;
    padding-right: 1em;
    padding-left: 1em;
    @include clearfix;
    
    
    #thirdkraft_logo {
        @include transition (all .25s ease-in-out);
        left: -100px;
        width: 60px;
    }

    .brand {
        font-size: 2em;
        color: white;
        float: left;
        span {
            display: inline-block;
            @include transform(translateY(-11px));
        }
    }
    &.scrolled {
        padding-top: 0;
        #thirdkraft_logo {
            background-color: black;
            position:fixed;
            left: 0;
            top:0;
            padding: 10px;
        }
    }

}

#main-navigation {
    position: fixed;
    top: 0;
    left: 100%;
    bottom: 0;
    right: 0;
    width: 320px;
    background-color: rgba(0,0,0,0.95);
    @include transition(all 0.25s ease-in-out);
    .navigation {
        padding-top: 6em;
        > li {
            > a {
                display: block;
                color: white;
                padding: 1.25em 1em;
                text-align: right;
                font-size: 1.25em;
                &:hover {
                    background-color: $action-color;
                }
            }
        }
    }
    &.is-active {
        @include transform(translateX(-320px));
    }
}


.jumbotron-wrap {
    background-color: black;
}

.jumbotron {
    position: relative;
    display: flex;
    min-height: 100vh;
    padding: 1em;
    align-items: center;
    @extend .cover-background;
    @include media($min-desktop) {
        .text-wrap {
            max-width: 50%;
        }
    }
    .text-wrap {
        position: relative;
        z-index: 1;
        @include transform(translateY(60px));

        color: #eee;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .75);

        h1 {
            font-size: 3em;
            line-height: 1;
            margin: 0;
            @include media($min-desktop) {
                font-size: 4em;
            }
        }
        h2 {
            font-size: 1.25em;
            font-weight: 400;
            margin-top: .5em;
            @include media($min-desktop) {
                font-size: 2em;
            }
        }
        a {
            color: #eee;
        }
    }
}

#welcome {
    position: relative;
    padding: 6em 1em 8em;
    background-color: $dark-gray;
    @include arrow-bottom($dark-gray);
    .content {
        text-align: center;
        color: white;
        @include outer-container(40em);
        h2 {
            margin-bottom: 1em;
            letter-spacing: -1px;
        }
        p {
            font-size: 1.2em;
        }

    }
}
#why-us {
    padding: 6em 1em;
    
    @include outer-container;
    .why-block {
        @include media($min-desktop) {
            @include span-columns(4);
            @include omega(3n);
            margin-bottom: 1em
        }
    }
}

#about-us {
    padding: 6em 1em;
    display: flex;
    align-items:center;
    min-height: 100vh;
    @extend .cover-background;
    .container {
        @include outer-container();
    }
    .content {
        @include media($min-desktop) {
            @include span-columns(7);
        }
    }
}

.services {
    padding: 6em 1em;
    background-color: $dark-gray;
    @extend .arrow-bottom;
    color: #eeeeee;
    @include clearfix;
    .service {
        //padding: 2em;
        text-align: center;
        @include media($min-desktop) {
            @include span-columns(3);
            // /padding: 1em;
            //border-right: 1px solid $light-gray;
            &:last-child {
                border-right: 0;
            }
        }
        .content {
            @include transition(all .25s ease-in-out);
            &:hover {
                @include transform(scale(1.1));
            }
        }
        img {
            margin-bottom: 1em;
        }
    }
}

#contact-us {
    padding: 6em 1em;
    @include clearfix;
    h2 {
        text-align: center;
        margin-bottom: 0.25em;
    }
    p {
        text-align: center;
        margin-bottom: 2em;
    }
    .content {
        @include outer-container();
        @include media($min-desktop) {
            .form-contact {
                @include span-columns(8);
            }
            .address {
                @include span-columns(4);
            }
        }
        .form-contact {
            label {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
            }
            .required-message {
                display: none;
            }
            .required {
                color: #d9534f;
            }
        }
    }
}

.site-footer {
    padding: 2em 1em;
    text-align: center;
    color: white;
    background-color: #333;
    @include clearfix;
}