<!DOCTYPE html>

<html lang="en-US">

  {% include head.html %}

  <body class="home">
    
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MHV6K3D"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <div id="site-wrap">

      {% include header.html %}

      <main id="site-content">{{ content }}</main>

      {% include footer.html %}

    </div>

  </body>

</html>
