#site-header {
  padding-top: $base-spacing*2;
  margin-bottom: $base-spacing*4;

  @media screen and (min-width: 426px) {
    .row {
      display: grid;
      grid-template-columns: 25% 75%;
      align-content: center;
      align-items: center;
    }
    #site-nav {
      text-align: right;
      a {
        color: $dark-gray;
        font-weight: 700;
      }
    }
  }
}

#site-wrap {
  background-color: #F6F7FB;
}
